.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.content {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 800px;
  z-index: 101;
  outline: none;
  border-left: 1px solid var(--border);
}

@media (max-width: 1024px) {
  .content {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  background: #FFF;
}

.handle {
  width: 4px;
  height: 40px;
  background: var(--border);
  border-radius: 2px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-family: var(--font-logo);
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
  color: var(--text-primary);
  letter-spacing: -0.02em;
}

.body {
  flex: 1;
  overflow-y: auto;
  padding: 0;
}

/* For responsiveness */
@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}
